@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Lato";
}

.customFont {
  font-family: "Roboto Slab";
}
.bottomBorder {
  border-bottom: 1px solid #777b7e;
}
.lightBorder {
  border: 1px solid #cfcfcf;
}
.lightBorderBottom {
  border-bottom: 1px solid #cfcfcf;
}
.lightBorderY {
  border-top: 1px solid #cfcfcf;
  border-bottom: 1px solid #cfcfcf;
}

.borderRight {
  border-right: 1px solid #777b7e;
}
.lightBorderLeft {
  border-left: 1px solid #cfcfcf;
}

.grayBorder {
  border: 1px solid #777b7e;
}

.blueBorder {
  border: 1px solid #1f57c3;
}
.bottomBlueBorder {
  border-bottom: 5px solid #1f57c3;
}

.shadowAllSides {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.rightImg {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
@media (max-width: 869px) and (min-width: 480px) {
  .rightImg {
    border-radius: 0%;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
  }
}
@media (max-width: 479px) {
  .rightImg {
    border-radius: 0%;
  }
}

.leftImg {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
@media (max-width: 869px) and (min-width: 480px) {
  .leftImg {
    border-radius: 0%;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
  }
}
@media (max-width: 479px) {
  .leftImg {
    border-radius: 0%;
  }
}

textarea:focus,
input:focus {
  outline: none;
}
